@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

body {
  font-family: "PT Sans", sans-serif;
}

.center {
  padding: 0 calc(50vw - 278px / 2);
}

.button {
  width: 278px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}
.button:hover {
  box-shadow: 0 4px 15px rgba(27, 170, 235, 0.45);
}
.button_blue {
  background-color: #008DCD;
  color: #fff;
}
.button_yellow {
  background-color: #FFCC00;
  color: #000;
}

.top {
  position: relative;
  min-height: 277px;
  min-width: 320px;
}

.header {
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url("img/top-bg_small.jpg") no-repeat bottom right;
  background-size: cover;
}
.header__switch {
  visibility: hidden;
  position: absolute;
  left: -999999px;
}

.logo-img {
  padding: 27px 21px;
}

.menu {
  display: none;
}
.menu__label {
  color: #fff;
  font-size: 29px;
  display: block;
  padding: 27px 21px;
}
.menu__label_close {
  display: none;
}

.send-box {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  text-align: center;
}
.send-box__h2 {
  font-size: 32px;
  line-height: 38px;
}
.send-box__p {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.about {
  background-color: #f7f7f7;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 36px 21px;
}
.about__img {
  width: 278px;
  height: 142px;
}
.about__h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
}
.about__p {
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.steps__img {
  padding: 6px 0;
}
.steps__item {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}
.steps__h2 {
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  padding: 6px 0;
  text-align: left;
}
.steps__p {
  font-size: 14px;
  line-height: 17px;
  padding: 6px 0;
  text-align: left;
}
.steps__footer {
  padding: 21px;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.steps__footer__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

.callback {
  background-color: #008DCD;
}
.callback__form {
  height: 283px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.callback__h2 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.callback__p {
  font-size: 14px;
  line-height: 13px;
  text-align: center;
}
.callback__tel {
  padding: 17px 24px;
  width: 230px;
  border-radius: 30px;
  border: none;
}

.pers-data {
  display: none;
}
.pers-data:checked + .pers-data__label::before {
  font-family: FontAwesome, serif;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.pers-data__label {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.pers-data__label::before {
  font-family: FontAwesome, serif;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.review {
  height: 324px;
  position: relative;
  padding-top: 20px;
}
.review__box {
  padding: 0 25px;
  position: relative;
}
.review__slide {
  position: absolute;
  color: #c4c4c4;
  font-size: 12px;
  top: 0;
  z-index: 10;
  height: 100%;
  display: flex;
  align-items: center;
}
.review__slide_left {
  left: 0;
}
.review__slide_right {
  right: 0;
}
.review__h2 {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
}
.review__foto {
  width: 100px;
  height: 100px;
  padding: 18px 18px 18px 0;
  float: left;
}
.review__name {
  padding-top: 18px;
  padding-bottom: 6px;
  font-size: 26px;
  line-height: 31px;
}
.review__surname {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
}
.review__desc {
  padding-bottom: 5px;
  font-size: 10px;
  line-height: 12px;
}
.review__text {
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  clear: both;
}

.advantages {
  background-color: #f7f7f7;
}
.advantages__h2 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
}
.advantages__box {
  display: flex;
  flex-direction: column;
}
.advantages__img {
  width: 58px;
  height: 34px;
}
.advantages__img-cover {
  width: 86px;
  height: 86px;
  border-radius: 43px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
